@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
:root{
    --font-family: 'Space Mono', monospace;
    --bg-color: #B5D5C5;
    --bg-color2: #b5e3cc;
    --primary-color: #FC7300 ;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}
.borda{
    border: 2px solid var(--primary-color);
    padding: 1em;
    background-color: var(--bg-color2);
}
h1{
    font-size: 5em;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 2em;
    margin-top: 20px;
}
.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}
.box{
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}
.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 7px;
    margin-top: 20px;
    color: var(--bg-color);
    font-size: 1.2em;
}
.btn-jogar:hover{
    cursor: pointer;
    background-color: #F48484;
}